﻿@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
<link href="~/css/site.css" rel="stylesheet" />
@if (hostingEnv.EnvironmentName == "Development")
{
    <link href="https://natalfwk-pre.gruposancorseguros.com/2.1.0/nf.min.css" rel="stylesheet" />
    <script src="https://natalfwk-pre.gruposancorseguros.com/2.1.0/nf.min.js"></script>

    <script src="~/scripts/Common.js"></script>
    <script src="~/scripts/ApiHelper.js"></script>
    <script src="~/scripts/Home/HomeController.js"></script>
    <script src="~/scripts/Home/HomeApiHelper.js"></script>
}
else
{


}
