﻿@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
@Html.Partial("_scripts")
<head>
    <title>Capacitación TGV</title>
</head>
<body>
    <div class="container">

        <form>
            <div class="row">
                <nf-table v-bind:data="ClientesList" v-bind:columns="configColumns">
            </div>
        </form>

        <script>
            $(document).ready(function () {
                Common.Controller.initializeChild(new NF(new Web.HomeController.HomeController));
            });
        </script>
    </div>
</body>
</html>

